In [1]:
import pandas as pd
Name=["abc", "def", "ghi"]
m1=[7,8,9]
m2=[6,3,8]

dict={"Name": Name, "Mark 1": m1, "Mark 2":m2}
df=pd.DataFrame(dict)
df

  Name  Mark 1  Mark 2
0  abc       7       6
1  def       8       3
2  ghi       9       8

In [2]:
df.to_csv("data1.csv")

In [64]:
mark2_with_index = [(Mark2[i], i) for i in range(len(Mark2))]

mark2_with_index.sort()

sorted_indices = [index for mark2_value, index in mark2_with_index]

sorted_Name = [Name[i] for i in sorted_indices]
sorted_Mark1 = [Mark1[i] for i in sorted_indices]
sorted_Mark2 = [Mark2[i] for i in sorted_indices]

sorted_df = {"Name": sorted_Name,
    "Mark 1": sorted_Mark1,
    "Mark 2": sorted_Mark2}

sorted_df=pd.DataFrame(sorted_df)
print(sorted_df)

  Name  Mark 1  Mark 2
0  def       8       3
1  abc       7       6
2  ghi       9       8

In [4]:
string=input("enter your sentences:")
lowercase_count = 0
uppercase_count = 0
number_count = 0
other_count = 0
    
for char in string:
    if char.islower():
        lowercase_count += 1
    elif char.isupper():
        uppercase_count += 1
    elif char.isdigit():
        number_count += 1
    else:
        other_count += 1
    
counts = ["Lowercase alphabets", lowercase_count, "Uppercase alphabets", uppercase_count, 
          "Numbers", number_count,"Other characters", other_count]
print(counts)

['Lowercase alphabets', 4, 'Uppercase alphabets', 6, 'Numbers', 4, 'Other characters', 5]

In [27]:
#Write a code to print the number of characters in each word of a given string
import numpy as np 
import pandas as pd
string=input("enter the sentences:")
string=string.split()
string

['I', 'love', 'MATHS']

In [31]:

for char in string:
    print(len(char))

1
4
5

In [33]:
string1 = input("Enter the first string: ")
string2 = input("Enter the second string: ")

if len(string1) != len(string2):
    print("The strings are not permutations of each other.")
else:
    if sorted(string1) == sorted(string2):
        print("The strings are permutations of each other.")
    else:
        print("The strings are not permutations of each other.")

The strings are not permutations of each other.

In [39]:
#Write a code to print the longest common substring in two given strings.
#For example, if the strings are “conic section” and “carbonic acid”, your
#code should print “onic ” with a space at the end.
string1 = input("Enter the first string: ")
string2 = input("Enter the second string: ")

string1=sorted(string1)
string2=sorted(string2)

common=[]
for char in string1:
    if char in string2:
        common.append(char)

if common:
    print("Common characters are", common)
else:
    print("No common character")

Common characters are ['d']

In [65]:
string1 = input("Enter the first string: ")
string2 = input("Enter the second string: ")

print(string1)
print(string2)
common_substring = ""
current_substring = ""

len1, len2 = len(string1), len(string2)
min_len = min(len1, len2)

Nice job
Nicely

In [66]:
for i in range(min_len):
    char1, char2 = string1[i], string2[i]

    if char1 == char2:
        current_substring += char1
    else:
        current_substring = ""

    if len(current_substring) > len(common_substring):
        common_substring = current_substring

if common_substring:
    print("The longest common substring is:", common_substring)
else:
    print("There is no common substring.")

The longest common substring is: Nice

In [1]:
a='Hello 123'
a
c_upper=0
c_lower=0
c_digit=0
c_other=0
for i in a:
    if i.isupper():
        c_upper+=1
    elif i.islower():
        c_lower+=1
    elif i.isdigit():
        c_digit+=1
    else:
        c_other+=1

print(c_upper,c_lower,c_digit,c_other)

1 4 3 1

In [20]:
e="123  Hello"
b=list(a)
c=list(e)
b.sort()
c.sort()

b==c

False

In [31]:
a="conic section"
b="carbonic acid"

In [54]:
a=input("enter first string: ")
b=input("Enter Second String: ")

l=len(b)
maxl=None
j=None
while l>0 and maxl== None:
    for i in range(len(b)-l+1):
        
        if b[i:i+l] in a: 
            maxl=l
            j=i
            break
    
    l-=1

b[j:j+maxl]

'onic '

In [43]:
b[j:j+maxl+1]

'onic '

In [55]:
import pandas as pd
a={"name":['abc','def','ghi'],"Mark 1":[20,10,30], "Mark 2":[11,90,35]}
b=pd.DataFrame(a)

In [65]:
f=open("ab.txt",'w')
for i in b.columns:
    s=''
    for j in b[i]:

        s=s+str(j)+','
    
    f.write("{0}=[{1}]\n".format(i,s[:-1]))

f.close()

In [80]:
b.astype({"Mark 1":float},copy=True)

  name  Mark 1  Mark 2
0  abc    20.0      11
1  def    10.0      90
2  ghi    30.0      35